:root{
  --primary-color:hsl(322,100%,66%)
 
  --pale-cyan:hsl(193,100%,96%)
  --dark:hsl(192,100%,9%)
  --Grey-blue:hsl(208,11%,55%)
  
  
}
body{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header{
  background:url(/Imgs/bg-hero-desktop.svg);
  background-repeat: no-repeat ;
  margin-bottom: 3rem;
  padding: 3em;

}
img{
  max-width: 100%;
  display: block;
}
nav{
  display: flex ;
  justify-content: space-between;
}
section{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:0 2em;
}
.grid-container{
  display:grid;
  grid-template: repeat(3,1fr)/1fr;
gap:3em 0;
padding: 3em;

}



.grid-item {
  box-sizing: border-box;
  display:flex;
  gap:2em;
  border: 6px dashed red;
  border-radius: 1em;
  padding :4em;
}
.ready-to-build-container{
  
   display: flex;
   justify-content: center 
   
}
.ready-item{
  border :solid 1px black;
  border-radius:2em; 
  
 
  
}
footer{
  background-color:green;
}